<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <script
      src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css?family=Baloo+Thambi|Pacifico&display=swap"
      rel="stylesheet"
    />
    <title>aws Demo</title>
    <style>
      .circle {
        width: 250px;
        height: 250px;
        border-radius: 125px;
        font-size: 25px;
        line-height: 250px;
        text-align: center;
        margin: 2px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <a href="/" style="text-decoration: none; color:black">
        <div class="jumbotron">
          <h1
            class=" d-flex justify-content-center"
            style="font-family: 'Pacifico', cursive; font-family: 'Baloo Thambi', cursive"
          >
            Student look-up 👻
          </h1>
        </div>
      </a>
      <div class="row">
        <div class="col" id="adduser">
          <div class="circle btn-primary">Add User</div>
        </div>
        <div class="col" id="searchuser">
          <div class="circle btn-primary">Search User</div>
        </div>
        <div class="col" id="peekdynamo">
          <div class="circle btn-primary">Peek Dynamo</div>
        </div>
      </div>
      <div class="jumbotron mt-3" id="bio" style="height: 40vh">
        <h5 class=" d-flex justify-content-center">
          this project demonstrates full stack development (with the cloud!!!),
          enjoy.
        </h5>
      </div>
      <hr class="m-4" />
      <div class="row">
        <table
          class="table table-striped"
          id="student_table"
          style="display: none"
        >
          <thead>
            <tr>
              <th scope="col">StudentID</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Email</th>
              <th scope="col">Address</th>
              <th scope="col">GPA</th>
            </tr>
          </thead>
          <tbody>
            {%for values in database%}
            <tr>
              <th scope="row">{{ values.studentid }}</th>
              <td>{{ values.fname }}</td>
              <td>{{ values.lname }}</td>
              <td>{{ values.email }}</td>
              <td>{{ values.address }}</td>
              <td>{{ values.gpa }}</td>
            </tr>
            {%endfor%}
          </tbody>
        </table>
      </div>
      <form
        class="needs-validation"
        novalidate=""
        name="formLayout"
        action="/"
        method="POST"
        id="user_entry"
        style="display: none"
      >
        {% csrf_token %}
        <div class="mb-3">
          <label for="studentid">
            Student-ID:<span style="color: red"><b>*</b></span></label
          >
          <input
            type="number"
            class="form-control"
            name="studentid"
            required
            maxlength="9"
            minlength="9"
            placeholder="000111222"
          />
          <div class="invalid-feedback">
            Please enter a studentID.
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="firstName"
              >First name:<span style="color: red"><b>*</b></span></label
            >
            <input
              type="text"
              class="form-control"
              name="fname"
              required
              maxlength="40"
              minlength="1"
              placeholder="John"
            />
            <div class="invalid-feedback">
              First name is required.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="lastName"
              >Last name:<span style="color: red"><b>*</b></span></label
            >
            <input
              type="text"
              class="form-control"
              name="lname"
              required
              placeholder="Smith"
              maxlength="40"
              minlength="1"
            />
            <div class="invalid-feedback">
              Last name is required.
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="email">
            Email:<span style="color: red"><b>*</b></span></label
          >
          <input
            type="email"
            class="form-control"
            name="email"
            placeholder="you@example.com"
            required
            maxlength="40"
            minlength="6"
          />
          <div class="invalid-feedback">
            Please enter a valid email address.
          </div>
        </div>
        <div class="mb-3">
          <label for="address"
            >Address:<span style="color: red"><b>*</b></span></label
          >
          <input
            type="text"
            class="form-control"
            name="address"
            placeholder="1234 Main St"
            required
            maxlength="40"
            minlength="3"
          />
          <div class="invalid-feedback">
            Please enter your address.
          </div>
        </div>

        <div class="mb-3">
          <label for="gpa">
            GPA:<span style="color: red"><b>*</b></span></label
          >
          <input
            type="text"
            class="form-control"
            name="gpa"
            placeholder="3.96"
            required
            maxlength="4"
            minlength="4"
          />
        </div>
        <hr class="m-4" />

        <div class="row" style="margin-bottom: 20px">
          <div class="col">
            <input
              class="btn btn-outline-danger btn-lg"
              type="reset"
              value="Cancel"
              name="Reset"
            />
          </div>
          <div class="col">
            <input
              class="btn btn-primary btn-lg"
              type="submit"
              value="Submit"
              name="Submit"
              style="float: right"
            />
          </div>
        </div>
      </form>
      <form
        class="needs-validation"
        novalidate=""
        name="queryLayout"
        action=""
        method="GET"
        id="search_user_results"
        style="display: none"
      >
        {% csrf_token %}
        <div class="row">
          <div
            class="col-5 rounded"
            style="text-align: center"
            id="subcat_search"
          >
            <select class="form-control" id="subcat_search_select">
              <option selected disabled>How Would You Like To Search?</option>
              <option id="subcat_studentid">StudentID</option>
              <option id="subcat_fname">First Name</option>
              <option id="subcat_lname">Last Name</option>
            </select>
          </div>
          <div
            class="col-5 rounded"
            style="text-align: center; display: none"
            id="display_studentid"
          >
            <select class="form-control" id="display_studentid_select">
              <option selected disabled>StudentID</option>
              {%for values in database%}
              <option name="idform">{{ values.studentid }}</option>
              {%endfor%}
            </select>
          </div>
          <div
            class="col-5 rounded"
            style="text-align: center; display: none"
            id="display_fname"
          >
            <select class="form-control" id="display_fname_select">
              <option selected disabled>First Name</option>
              {%for values in database%}
              <option>{{ values.fname }}</option>
              {%endfor%}
            </select>
          </div>
          <div
            class="col-5 rounded"
            style="text-align: center; display: none"
            id="display_lname"
          >
            <select class="form-control" id="display_lname_select">
              <option selected disabled>Last Name</option>
              {%for values in database%}
              <option>{{ values.lname }}</option>
              {%endfor%}
            </select>
          </div>
          <div class="col-2 rounded" style="display: none" id="okbutton">
            <input
              class="btn btn-primary"
              type="submit"
              value="OK"
              style="float: center"
            />
          </div>
        </div>
      </form>
      <!-- this last div is container end -->
    </div>
    <script>
      hideothers(
        "peekdynamo",
        "student_table",
        "user_entry",
        "search_user_results"
      );
      hideothers(
        "adduser",
        "user_entry",
        "student_table",
        "search_user_results"
      );
      hideothers(
        "searchuser",
        "search_user_results",
        "user_entry",
        "student_table"
      );

      subcat_search("subcat_search");

      function hideothers(option_button, item, not_one, not_two) {
        $("#" + option_button).click(function() {
          document.getElementById("bio").style.display = "none";
          resetpicks();
          // if not displayed
          if (document.getElementById(item).style.display == "none") {
            document.getElementById(item).style.display = "";
            document.getElementById(not_one).style.display = "none";
            document.getElementById(not_two).style.display = "none";
          } else document.getElementById(item).style.display = "none";
        });
      }

      function subcat_search(searchfrom) {
        $("#" + searchfrom).change(function() {
          var getText = $("#" + searchfrom + " option:selected").text();
          document.getElementById("okbutton").style.display = "";
          switch (getText) {
            case "StudentID":
              document.getElementById("display_studentid").style.display = "";
              document.getElementById("display_lname").style.display = "none";
              document.getElementById("display_fname").style.display = "none";
              subcat_change("display_studentid_select");
              break;
            case "First Name":
              document.getElementById("display_fname").style.display = "";
              document.getElementById("display_lname").style.display = "none";
              document.getElementById("display_studentid").style.display =
                "none";
              subcat_change("display_fname_select");
              break;
            case "Last Name":
              document.getElementById("display_lname").style.display = "";
              document.getElementById("display_fname").style.display = "none";
              document.getElementById("display_studentid").style.display =
                "none";
              subcat_change("display_lname_select");
              break;
          }
        });
      }

      function subcat_change(item) {
        $("#" + item).change(function() {
          var getText = $("#" + item + " option:selected").text();
          $(this).submit();
          return getText;
        });
      }

      function resetpicks() {
        $("#subcat_search_select")[0].selectedIndex = 0;
        $("#display_lname_select")[0].selectedIndex = 0;
        $("#display_fname_select")[0].selectedIndex = 0;
        $("#display_studentid_select")[0].selectedIndex = 0;
      }
    </script>
  </body>
</html>
